// Title page

@mixin title-page-common() {
    @include uppercase();
    float: bottom;
    font-family: $font-display-main;
    font-weight: 200;
    margin: 0;
    text-align: left;
    strong {
        font-weight: 500;
    }
}

.title-page {
    .title-page-author {
        @include title-page-common();
        font-size: 18pt;
        line-height: 18pt;
        margin-bottom: $line-height-default / 2;
    }
    .title-page-title {
        @include title-page-common();
        font-size: 80pt;
        line-height: 60pt;
    }
    .title-page-subtitle {
        @include title-page-common();
        font-size: 18pt;
        line-height: 18pt;
    }
}
