// Title page

@mixin title-page-common() {
    @include uppercase();
    float: bottom;
    font-family: $font-display-main;
    font-weight: 200;
    margin: 0;
    text-align: left;
    strong {
        font-weight: 600;
        color: $green;
    }
}

.title-page {
    .title-page-author {
        @include title-page-common();
        font-size: $font-size-default * 1.1;
        line-height: 1;
        margin-bottom: $line-height-default / 2;
    }
    .title-page-title {
        @include title-page-common();
        font-size: $font-size-default * 4;
        line-height: 1;
    }
    .title-page-subtitle {
        @include title-page-common();
        font-size: $font-size-default * 1.1;
        line-height: 1;
    }
}
