// Save a line (use sparingly!)

// Create save-1 through save-10
@for $i from 0 through 10 {
    .save-#{$i} {
        margin-top: -($line-height-default * $i);
    }
}
@for $i from 0 through 10 {
    .add-#{$i} {
        padding-top: ($line-height-default * $i);
    }
}
@for $i from 0 through 20 {
    .add-lines-#{$i} {
        padding-bottom: ($line-height-default * $i);
    }
}