// Footnotes

.page-footnote {
    float: footnote;
    footnote-style-position: inside;
    text-indent: -($line-height-default);
    margin-left: $line-height-default;
    &:first-of-type {
        border-top: $rule-thickness solid $color-text-secondary;
        padding-top: $line-height-default;
    }
    p {
        font-size: 9pt;
        margin-bottom: 0;
    }
}

// The numbers in front of footnote text
*::footnote-marker {
    float: left;
    font-size: 9pt;
    width: 0;
}
