// Feature images

.feature-image {
    background-color: black;
    line-height: 0.7; // avoid white space between image and caption
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    & + p,
    & + ol,
    & + ul,
    & + dl {
        margin-top: $line-height-default;
    }
    .feature-image-body {
        position: relative;
        .feature-images {
            img {
                width: 100%;
            }
        }
        .feature-image-description {
            display: none;
        }
        .feature-image-text {
            color: white;
            line-height: $line-height-default;
            padding: $line-height-default / 2;
            @media only screen and (min-width: $break-width-small) {
                background-color: rgba(0, 0, 0, 0.3);
                position: absolute;
                right: $line-height-default;
                top: $line-height-default;
                width: 50%;
                &[data-color="black"] {
                    color: black;
                    background-color: rgba(255, 255, 255, 0.3);
                }
                &[data-position*="bottom"] {
                    top: auto!important;
                    bottom: $line-height-default!important;
                }
                &[data-position*="left"] {
                    right: auto!important;
                    left: $line-height-default!important;
                }
            }
            &[data-width*="web-wide"] {
                width: 90%;
                @media only screen and (min-width: $break-width-medium) {
                    width: 50%;
                }
            }
            .feature-image-caption {
                font-size: 1.2em;
                letter-spacing: 0.01em;
                margin-bottom: $line-height-default / 2;
                // 'Float' opening quote mark to left
                text-indent: -0.4em;
                margin-left: 0.4em;
                .feature-image-reference {
                    display: none;
                }
            }
            .feature-image-source {
                font-family: $font-text-secondary;
                font-style: normal;
                font-weight: 300;
                margin-left: 0.4em; // align with caption text
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }
        }
    }
}
